.skill-text {
  display: inline;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
}
.skill-body {
  display: inline-flex;
}

@media screen and (max-width: 480px) {
  .skills {
    font-size: 12px;
  }
}
