.hobbies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.hobbies-title {
  grid-column: 1 / -1;
  text-align: center;
}

.hobby-id {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  border-radius: 5%;
}

.hobby-image {
  height: 10rem;
  max-width: 50%;
  border-radius: 5px;
}

.hobby-name {
  font-size: 18px;
  margin-top: 0;
  text-align: center;
}

.hobby-text {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.hobby-link {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.hobby-link:hover {
  text-decoration: underline;
}

/* Mobile compatibility */
@media screen and (max-width: 767px) {
  .hobbies {
    grid-template-columns: 1fr;
  }
}
