
.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
  }
  .navbar-right {
    float: none;
  }
}