.header {
  padding: 20px;
  text-align: center;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Mobile compatibility */
@media screen and (max-width: 767px) {
  .header {
    padding: 10px;
  }
}
