.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center; /* Center the content horizontally */
}

.projects-title {
  grid-column: 1 / -1;
  text-align: center; 
}

.project-id {
  background-color: #f0f0f0;
  padding: 20px;
}

.project-image {
  /* width: 100%; */
  height: auto;
}

.project-name {
  font-size: 18px;
  margin-top: 0;
}

.project-text {
  font-size: 14px;
  margin-top: 10px;
}

.project-link {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.project-link:hover {
  text-decoration: underline;
}

/* Mobile compatibility */
@media screen and (max-width: 767px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .project-id {
    max-width: 100%;
  }
}
