.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: flex-start; /* Align content to the top */
}

.projects-title {
  grid-column: 1 / -1;
  text-align: center;
}

.project-id {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
}

.project-image {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
}

.project-name {
  font-size: 18px;
  margin-top: 0;
  text-align: center;
}

.project-text {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.project-link {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.project-link:hover {
  text-decoration: underline;
}
.project-stack {
  background-color: #98ddca; /* Pastel green background color */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  list-style-type: none; /* Remove bullet points */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}


/* Mobile compatibility */
@media screen and (max-width: 767px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
