.footer {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .footer .site-info {
    display: flex;
    align-items: center;
    background: lightgray;
  }

  .footer .right {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Replace margin on img with margin on .right */
  }
}
