.footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
@media screen and (max-width: 480px)
 {
    .site-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: lightgray;
    }
    .right {
        display: flex;
        align-items: center;
    }
    .right img {
        margin-left: 10px;
    }
}